.root {
  margin-bottom: 50px;
  font-size: 16px;
}

.header {
  position: relative;
  margin-bottom: 20px;
  font-weight: normal;
}

.primaryHeading {
  position: relative;
  margin-bottom: 0.5em;
  font-size: 1.5em;
  font-weight: normal;
}

.heading {
  margin-bottom: 8px;
  font-size: 1.2em;
  font-weight: normal;
}

.anchorLink {
  position: absolute;
  top: 0;
  right: 0;
  line-height: 1;
  color: rgb(224, 224, 224);
  margin-left: 0.5rem;
  font-size: 1.5rem;
  opacity: 0;
  transition-property: opacity;
  transition-duration: 0.1s;
  text-decoration: none;

  .root:hover & {
    opacity: 1;
  }
}

.anchor {
  margin-top: -95px;
  position: absolute;
}

.version {
  font-size: 0.9rem;
  margin-left: 0.5rem;
  margin-right: 0.5rem;
  color: rgb(158, 158, 158);
}

.pathLine {
  font-size: 0.9em;
  color: rgb(158, 158, 158);
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.importLine {
  font-size: 0.9em;
  color: rgb(0, 188, 212);
  cursor: pointer;
}

.description {
  margin-bottom: 1em;
}

.props {
  margin-bottom: 2em;
  font-size: 0.8em;
}
