.root {
	margin-bottom: 50px;
	font-size: 16px;
}

.header {
	composes: font from "../../styles/common.css";
	margin-bottom: 20px;
	font-weight: normal;
}

.heading {
	position: relative;
	margin: 0 0 6px 0;
	font-size: 36px;
	font-weight: normal;
}

.pathLine {
	composes: monospace from "../../styles/common.css";
	composes: light from "../../styles/colors.css";
	font-size: 14px;
}

.description {
	composes: font from "../../styles/common.css";
	margin-bottom: 15px;
}
