.root {
	margin-bottom: 50px;
	font-size: 16px;
}

.header {
	composes: font from "../../styles/common.css";
	position: relative;
	margin-bottom: 20px;
	font-weight: normal;
}

.isolatedLink {
	composes: link from "../../styles/colors.css";
	position: absolute;
	top: 0;
	right: 0;
	font-size: 14px;
	opacity: 0;
	transition: opacity ease-in-out .15s .2s;
}

.root:hover .isolatedLink {
	opacity: 1;
}

.primaryHeading {
	position: relative;
	margin: 0 0 6px 0;
	font-size: 36px;
	font-weight: normal;
}

.heading {
	margin-bottom: 8px;
	font-size: 20px;
	font-weight: normal;
}

.pathLine {
	composes: monospace from "../../styles/common.css";
	composes: light from "../../styles/colors.css";
	font-size: 14px;
}

.description {
	composes: font from "../../styles/common.css";
	margin-bottom: 15px;
}

.props {
	composes: reset font from "../../styles/common.css";
	margin-bottom: 30px;
	font-size: 13px;
}
