.root {
  position: relative;
  border: 1px solid rgb(245, 245, 245);
  background-color: #fff;
  margin-bottom: 30px;

  &_singleExample {
    border: none;
    margin-bottom: 0;
  }

  @media (min-width: 768px) {
    display: flex;
    justify-content: space-between;
  }
}

.previewBox {
  width: 100%;
  padding: 1rem;
  overflow: hidden;
  position: relative;

  &_withToolbar {
    @media (min-width: 768px) {
      padding-right: calc(50px + 1rem);
    }
  }

  &_withEditor {
    @media (min-width: 768px) {
      padding-right: calc(400px + 50px + 1rem);
    }
  }
}

.tools {
  position: absolute;
  top: 0;
  right: 0;
  z-index: 1000;

  @media (min-width: 768px) {
    display: none;

    .root:hover > & {
      display: block;
    }
  }
}

.resizeble {
  margin: 0 auto;
  max-width: 100%;
  /* stylelint-disable-next-line plugin/no-low-performance-animation */
  transition: width 0.5s, height 0.5s;

  &_isResize {
    transition: none;
  }
}

.preview {
  margin: 0 auto;
  padding: 15px 24px;
  overflow: auto;
  position: relative;
  max-width: 100%;
  max-height: 100%;
  box-shadow: rgba(0, 0, 0, 0.117647) 0 1px 6px, rgba(0, 0, 0, 0.117647) 0 1px 4px;
  height: 100%;

  &_BgLight {
    background-color: rgb(255, 255, 255);
  }

  &_BgDark {
    background-color: rgb(35, 35, 35);
  }

  &_BgTransparent {
    background-image: url('./static/transparent.jpg');
    background-repeat: repeat;
  }
}

.previewSize {
  font-size: 0.7rem;
  position: absolute;
  bottom: 1em;
  right: 1em;
  font-style: italic;
  color: rgba(0, 0, 0, 0.298039);

  @media (min-width: 768px) {
    position: fixed;
    right: 60px;
  }

  .previewBox_withToolbar & {
    @media (min-width: 768px) {
      right: calc(50px + 1rem);
    }
  }

  .previewBox_withEditor & {
    @media (min-width: 768px) {
      right: calc(400px + 50px + 1rem);
    }
  }
}

.toolWrapper {
  width: 100%;
  display: flex;
  flex-direction: column;

  @media (min-width: 768px) {
    position: fixed;
    top: 64px;
    bottom: 0;
    right: 0;
    width: auto;
    max-width: 500px;
    flex-direction: row;
  }
}

.toolsWrapper {
  display: flex;
  flex-direction: column;
  background-color: #263238;
  border-top: 1px solid rgb(245, 245, 245);
  width: 100%;

  @media (min-width: 768px) {
    width: 400px;
    border-top: none;
    border-left: 1px solid rgb(245, 245, 245);
  }

  &:empty {
    width: 0;
    border: none;
  }
}

.editorWrapper {
  width: 100%;
}

.root:hover .isolatedLink {
  opacity: 1;
}
