.root {
	position: relative;
	composes: border from "../../styles/colors.css";
	margin-bottom: 30px;
	border-radius: 3px 3px 0 3px;
}

.preview {
	margin-bottom: 3px;
	padding: 15px;
}

.codeToggle {
	composes: font from "../../styles/common.css";
	composes: border link from "../../styles/colors.css";
	position: absolute;
	right: -1px;
	bottom: -27px;
	cursor: pointer;
	border-bottom-left-radius: 3px;
	border-bottom-right-radius: 3px;
	border-top: 0;
	padding: 6px 8px;
	font-size: 14px;
	line-height: 1;
}

.showCode {
	composes: base-bg from "../../styles/colors.css";
	composes: codeToggle;
}

.hideCode {
	composes: code-bg from "../../styles/colors.css";
	composes: codeToggle;
}
