.root {
	composes: font from "../../styles/common.css";
	composes: component-bg from "../../styles/colors.css";
	margin-bottom: 20px;
	border-radius: 5px;
	box-shadow: 0 2px 5px rgba(0, 0, 0, 0.5);
	background: #fff;
}

.meta {
	display: flex;
	margin-bottom: 10px;
	border-bottom: 1px dotted #ccc;
}

.header {
	flex-basis: 40%;
	padding: 10px;
	font-weight: normal;
	background: #efefef;
	overflow: hidden;
}

.heading {
	position: relative;
	margin: 0;
	font-size: 36px;
	font-weight: normal;
	background: #efefef;
}

.anchor {
	composes: link-base from "../../styles/colors.css";
	position: relative;
	text-decoration: none;
}

.anchor:before {
	transition: margin-left .2s;
	content: '#';
	position: absolute;
	display: block;
	margin-top: 7px;
	border-radius: 16px;
	line-height: 32px;
	text-align: center;
	font-size: 20px;
	width: 32px;
	height: 32px;
	background: #efefef;
	z-index: 0;
}

.anchor:hover:before {
	margin-left: -28px;
}

.isolatedLink {
	margin-right: .5em;
}

.pathLine {
	composes: monospace from "../../styles/common.css";
	composes: light from "../../styles/colors.css";
	margin-top: 5px;
	font-size: 14px;
	overflow: hidden;
	text-overflow: ellipsis;
}

.props {
	flex: 0 0 60%;
	padding: 5px 15px;
	border-left: 1px dotted #ccc;
}

.props h3 {
	margin: 0 0 10px;
}

.description {
	composes: font from "../../styles/common.css";
	margin-top: 15px;
}

.examples {
	padding: 10px 10px 1px;
}
