/* Tweak CodeMirror styles */
.root :global .CodeMirror {
	height: auto;
	padding: 5px 12px;
	font-size: 12px;
}
.root :global .CodeMirror-scroll {
	height: auto;
	overflow-y: hidden;
	overflow-x: auto;
}
.root :global .cm-error {
	background: none !important;
}
