.root {
	margin-bottom: 3rem;
}

.heading {
	font-size: 2rem;
	font-weight: normal;
}

.sourcePath {
	color: #aaa;
	font-size: 0.8rem;
	margin-bottom: 1rem;
	font-family: monospace;
}

.description {
	margin-bottom: 1rem;
}
