{
	"presets": [
    ["env", {
      "targets": {
        "uglify": true
      },
      "modules": false
    }],
    "stage-2"
	],
	"plugins": [
    "transform-runtime",
    "transform-react-jsx",
    "system-import-transformer",
    "transform-decorators-legacy"
  ],
	"env": {
	  "test": {
	    "presets": [
	      "env",
        "stage-2"
	    ],
      "plugins": [
        "transform-runtime",
        "transform-react-jsx",
        "system-import-transformer",
        "transform-decorators-legacy"
      ]
    }
  }
}
