{
  "parser": "@typescript-eslint/parser",
  "parserOptions": {
    "ecmaFeatures": {
      "jsx": true
    },
    "sourceType": "module",
    "ecmaVersion": 8
  },
  "extends": [
    "eslint:recommended",
    "plugin:react/recommended",
    "plugin:@typescript-eslint/eslint-recommended",
    "plugin:@typescript-eslint/recommended"
  ],
  "env": {
    "browser": true,
    "node": true
  },
  "plugins": [
    "@typescript-eslint",
    "compat",
    "import",
    "jsx-a11y"
  ],
  "settings": {
    "import/resolver": {
      "node": {
        "moduleDirectory": ["src/client", "node_modules"]
      }
    },
    "react": {
      "version": "16.6",
      "flowVersion": "0.83"
    }
  },
  "rules": {
    "no-mixed-spaces-and-tabs": ["warn", "smart-tabs"],
    "valid-jsdoc": 0,
    "no-duplicate-imports": 0,
    "compat/compat": "error",
    "import/no-unresolved": ["error", {
      "commonjs": true,
      "caseSensitive": true
    }],
    "import/export": "error",
    "import/no-named-as-default-member": 0,
    "import/no-mutable-exports": "error",
    "import/no-amd": "error",
    "import/first": ["error", "absolute-first"],
    "import/no-duplicates": "error",
    "import/extensions": ["error", "always", {
      "js": "never"
    }],
    "import/no-extraneous-dependencies": "error",
    "import/newline-after-import": "error",
    "import/prefer-default-export": "error",
    "import/no-named-default": "error",
    "react/display-name": "off",
    "@typescript-eslint/interface-name-prefix": "off",
    "@typescript-eslint/explicit-member-accessibility": "off",
    "@typescript-eslint/explicit-function-return-type": "off",
    "@typescript-eslint/no-var-requires": "off",
    "@typescript-eslint/no-unused-vars": "off",
    "@typescript-eslint/no-parameter-properties": "off",
    "@typescript-eslint/no-non-null-assertion": "off",
    "@typescript-eslint/no-use-before-define": "off",
    "@typescript-eslint/no-explicit-any": "off",
    "@typescript-eslint/ban-ts-ignore": "off",
    "eol-last": ["error", "always"]
  },
  "globals": {
    "System": false,
    "classes": false,
    "shallow": false,
    "render": false,
    "mount": false,
    "cy": false
  },
  "overrides": [
    {
        "files": ["*.spec.js"],
        "rules": {
          "compat/compat": 0
        }
    }
  ]
}
