node_modules
examples/*/styleguide/*
# this example contains typescript and has never been linted
# linting it could take time. 
# TODO: remove this next line and fix all errors
examples/styled-components
lib/*
coverage/*
travis_phantomjs/*
flow-typed/*
