node_modules
examples/*/styleguide/*
# this example contains typescript and has never been linted
# linting it could take time.
# TODO: remove this next line and fix all errors
examples/styled-components
lib/*
src/typings/dependencies/*
coverage/*
travis_phantomjs/*
# When ESlint looks at imports in .d.ts files,
# it often duplicates automatically imports
# @example: this `import { ASTNode } from 'ast-types';`
# becomes this `import { ASTNode, ASTNode } from 'ast-types';`
# TODO: fix tamia about this and remove this rule
*.d.ts
site/build/
site/.docusaurus/
