node_modules/
/examples/**/styleguide/build
/examples/**/styleguide/index.html
/.publish/
/coverage/
Changelog.md
.DS_Store
Thumbs.db
.idea/
.vscode/
*.sublime-project
*.sublime-workspace
*.log
.eslintcache
yarn.lock
/cypress/
test/cypress/screenshots/
test/cypress/videos/
