.root {
	composes: base base-bg from "../../styles/colors.css";
}

.content {
	max-width: 1200px;
	padding: 15px 30px;
	margin-left: auto;
	margin-right: auto;
}

.heading {
	composes: reset font from "../../styles/common.css";
	margin: 0 0 30px 0;
	font-size: 48px;
	font-weight: normal;
}
