.root {
	composes: base base-bg from "../../styles/colors.css";
}

.wrapper {
	padding-left: 200px;
}

.content {
	max-width: 1000px;
	padding: 15px 30px;
	margin: 0 auto;
}

.sidebar {
	composes: border from "../../styles/colors.css";
	border-width: 0 1px 0 0;
	background: #f5f5f5;
	position: fixed;
	top: 0;
	left: 0;
	bottom: 0;
	width: 200px;
	overflow: scroll;
}

.components {
	overflow: auto; /* to prevent the pane from growing out of the screen */
}

.heading {
	composes: reset font from "../../styles/common.css";
	composes: border from "../../styles/colors.css";
	border-width: 0 0 1px 0;
	margin: 0;
	font-size: 18px;
	font-weight: normal;
	display: block;
	padding: 15px;
}

.empty {
	composes: font from "../../styles/common.css";
	margin: 0 0 30px 0;
}

.footer {
	composes: font from "../../styles/common.css";
	composes: light from "../../styles/colors.css";
	font-size: 12px;
}

.link {
	composes: link from "../../styles/colors.css";
}

.withoutSidebar .wrapper { padding-left: 0; }
.withoutSidebar .sidebar { display: none; }
