.root {
  margin-bottom: 50px;
  font-size: 16px;
}

.header {
  margin-bottom: 20px;
}

.heading {
  margin-bottom: 0.5rem;
  font-size: 2em;
  font-weight: bold;
  position: relative;
}

.anchorLink {
  color: rgb(224, 224, 224);
  margin-left: 0.5rem;
  font-size: 1.5rem;
  opacity: 0;
  transition-property: opacity;
  transition-duration: 0.1s;

  .heading:hover & {
    opacity: 1;
  }
}

.anchor {
  margin-top: -70px;
  position: absolute;
}
