.border {
	border: 1px solid #e8e8e8;
}

.link,
.link:link,
.link:visited {
	color: #1978c8;
	text-decoration: none;
}

.link:hover,
.link:active {
	color: #f28a25;
}

.link-base,
.link-base:link,
.link-base:visited,
.link-base:hover,
.link-base:active {
	color: #333;
	text-decoration: none;
}

.base {
	color: #333;
}

.light {
	color: #999;
}

.white {
	color: #fff;
}

.name {
	color: #7f9a44;
}

.type {
	color: #b77daa;
}

.base-bg {
	background: #fff;
}

.error-bg {
	background: #c00;
}

.code-bg {
	background-color: #f5f5f5;
}
