.inline {
	display: inline-block;
}
.inline p:last-child {
	margin: 0;
}

.table {
	width: 100%;
	border-collapse: collapse;
}
.tableHead {
	composes: border from "../../styles/colors.css";
	border-width: 0 0 1px 0;
}
.tableBody {
}
.cell {
	padding-right: 15px;
	padding-top: 6px;
	vertical-align: top;
	font-size: 13px;
}
.cellHeading {
	padding-right: 15px;
	padding-bottom: 6px;
	text-align: left;
	font-size: 13px;
}
.cellDesc {
	width: 99%;
	padding-left: 15px;
}

.required {
	composes: light from "../../styles/colors.css";
}
.name {
	composes: name from "../../styles/colors.css";
}
.type {
	composes: type from "../../styles/colors.css";
}

.list {
	display: inline;
	margin: 0;
	padding: 0;
	list-style-type: none;
}
.listItem {
	display: inline;
}
.listItem:after {
	content: ", ";
}
.listItem:last-child:after {
	content: "";
}
