.root {
	max-width: 1200px;
	padding: 1rem 2rem;
	margin-left: auto;
	margin-right: auto;
}

.heading {
	composes: reset font from "../../styles/common.css";
	margin: 0 0 2rem 0;
	font-size: 3rem;
	font-weight: normal;
}
