.root {
	composes: reset font from "../../styles/common.css";
	list-style-type: none;
	padding: 15px;
}

.item {
	margin: 0 0 7px;
	padding: 0;
	font-size: 15px;
}

.link {
	composes: link from "../../styles/colors.css";
}

.find {
	display: block;
	height: 20px;
	margin: 15px 0 0 15px;
	padding: 6px 12px;
	font-size: 14px;
	color: #555;
	background-color: #fff;
	composes: border from "../../styles/colors.css";
	border-radius: 2px;
	transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
}
