.root {
	composes: reset font from "../../styles/common.css";
}

.list {
	margin: 0;
	padding: 15px;
	list-style-type: none;
}

.item {
	margin: 0 0 7px;
	padding: 0;
	font-size: 15px;
}

.link {
	composes: link from "../../styles/colors.css";
}

.section {
	composes: link from "../../styles/colors.css";
	font-weight: bold;
}

.search {
	composes: base base-bg border from "../../styles/colors.css";
	display: block;
	box-sizing: border-box;
	width: 170px;
	margin: 15px 0 0 15px;
	padding: 6px 12px;
	font-size: 15px;
	border-radius: 2px;
	transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
}
.search:focus {
	border-color: #1978c8;
	outline: 0;
}
