.blockQuote {
  width: 100%;
  display: flex;
  align-content: center;
  padding: 12px;
  background: #2f2f2f;
  color: #e2e2e2;
  border: 1px solid #5d5d5d;
  border-width: 1px 0px 1px 0px;

  &--plain {
    background: none;
    border: none;
    padding: 0px 12px;
    color: #b3b3b3;
  }

  &--hidden {
    height: 1px;
    padding: 0;
    visibility: hidden;
  }

  p {
	  margin: 0;
  }
}

