.button {
	padding: 0.5em 1.5em;
	border: 1px solid currentColor;
	border-radius: 0.3em;
	font-size: 1em;
	cursor: pointer;
}

.button--dark {
	color: #ccc;
	background-color: #222;
	border-color: #444;
}

.button--light {
	color: #666;
	background-color: #f4f4f4;
	border-color: #ddd;
}
