.root {
	composes: base base-bg from "../../styles/colors.css";
}

.content {
	max-width: 1200px;
	margin: auto;
	padding: 15px 30px;
}

.wrapper {
	display: flex;
}

.sidebar {
	position: relative;
	width: 200px;
	flex-shrink: 0;
	padding-left: 15px;
}

.heading {
	composes: reset font from "../../styles/common.css";
	margin: 0 0 30px 0;
	font-size: 48px;
	font-weight: normal;
}

.empty {
	composes: font from "../../styles/common.css";
	margin: 0 0 30px 0;
}

.footer {
	composes: font from "../../styles/common.css";
	composes: light from "../../styles/colors.css";
	font-size: 12px;
}

.link {
	composes: link from "../../styles/colors.css";
}
