.heroBanner {
	--ifm-heading-line-height: 1;
	--ifm-heading-font-weight: normal;
	padding: 1rem;
	text-align: center;
}

.heroBanner :global(.hero__title) {
	font-size: 2.8rem;
	font-family: 'Bree Serif', Georgia, serif;
}

.heroBanner :global(.hero__subtitle) {
	font-size: 1.4rem;
	font-family: 'Bree Serif', Georgia, serif;
	line-height: 1.3;
}

@media screen and (min-width: 768px) {
	.heroBanner :global(.hero__title) {
		font-size: 4.2rem;
	}

	.heroBanner :global(.hero__subtitle) {
		font-size: 1.8rem;
	}
}

@media screen and (min-width: 966px) {
	.heroBanner {
		padding: 2rem 0;
	}
}

.main {
	padding: 3rem 0;
}

.section + .section {
	margin-top: 2rem;
}

.feature {
	--ifm-h3-font-size: 1.8rem;
	--ifm-heading-font-weight: normal;
}

.featureFigureKawaii {
	position: relative;
}

.featureFigureKawaii::after {
	content: '';
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	background-image: url(/img/playground2.png);
	background-size: 100%;
	opacity: 0;
	transition: opacity 0.2s ease-in-out;
}

.featureFigureKawaii:hover::after,
.featureFigureKawaii:active::after,
.featureFigureKawaii:focus::after {
	opacity: 1;
}
