{
	"extends": "tamia",
	"parserOptions": {
		"sourceType": "script"
	},
	"rules": {
		"strict": [2, "global"],
		"es5/no-default-parameters": 2,
		"es5/no-destructuring": 2,
		"es5/no-spread": 2
	}
}
