$sidebarWidth: 256px;

.root {
  /* stylelint-disable-next-line plugin/no-low-performance-animation */
  transition: padding 450ms cubic-bezier(0.23, 1, 0.32, 1) 0ms;
  padding-top: 64px;

  &_HasSidebar {
    @media (min-width: 800px) {
      padding-left: $sidebarWidth;
    }
  }
}

.content {
  max-width: 1100px;
  padding: 15px 0;
  margin: 0 auto;
  position: relative;
  z-index: 999;

  @media (min-width: 800px) {
    padding: 15px 30px;
  }
}

.header {
  position: fixed;
  padding: 0.5rem 0;
  background-color: rgb(0, 188, 212);
  top: 0;
  left: 0;
  right: 0;
  color: white;
  text-align: right;
  z-index: 1000;
}

.titleline {
  float: left;
  padding: 12px 2rem;
  font-size: 20px;
  font-weight: 500;
}

.sidebar {
  border-width: 0 1px 0 0;
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  width: $sidebarWidth;
  overflow: auto;
  background-color: white;
  box-shadow: rgba(0, 0, 0, 0.156863) 0 3px 10px, rgba(0, 0, 0, 0.227451) 0 3px 10px;
}

.components {
  overflow: auto; /* to prevent the pane from growing out of the screen */
  padding: 0.5rem 1rem;
}

.heading {
  border-bottom-width: 1px;
  margin: 0;
  font-size: 24px;
  font-weight: lighter;
  line-height: 48px;
  display: block;
  padding: 0.5rem 15px;
  color: white;
  background-color: rgb(0, 188, 212);
  position: relative;
  z-index: 1;
}

.doc {
  width: 100%;
  height: 100%;
  position: absolute;
  padding: 64px 0 45px;
  top: 0;
  overflow: auto;
}

.scrollbar {
  height: 100%;
  overflow: auto;
}

.footer {
  font-size: 12px;
  padding: 15px 15px 0;
  position: absolute;
  width: 100%;
  background-color: white;
  bottom: 0;
  left: 0;
  border-top: 1px solid rgb(224, 224, 224);
}
