.base {
	composes: font from "../../styles/common.css";
}

.a {
	composes: link from "../../styles/colors.css";
}

.p,
.ul,
.ol,
.blockquote,
.table,
.hr,
.h3,
.h4,
.h5,
.h6 {
	composes: font from "../../styles/common.css";
	margin-top: 0;
	margin-bottom: 15px;
}

.h3 {
	font-size: 26px;
	font-weight: normal;
}
.h4 {
	font-size: 23px;
	font-weight: normal;
}
.h5 {
	font-size: 16px;
	font-weight: bold;
}
.h6 {
	font-size: 16px;
	font-weight: normal;
	font-style: italic;
}

.code {
	composes: reset monospace from "../../styles/common.css";
	display: inline;
	font-size: inherit;
	color: inherit;
}

.pre {
	composes: code-bg border from "../../styles/colors.css";
	padding: 12px 15px;
	font-size: 12px;
	border-radius: 3px;
}

.blockquote {
	font-size: 13px;
	margin-top: 0;
	margin-left: 50px;
	margin-right: 50px;
	padding: 0;
}

.hr {
	composes: border from "../../styles/colors.css";
	border-width: 0 0 1px 0;
}

.table {
	border-collapse: collapse;
}
.thead {
	composes: border from "../../styles/colors.css";
	border-width: 0 0 1px 0;
}
.td {
	padding-right: 15px;
	padding-top: 6px;
	font-size: 13px;
}
.th {
	padding-right: 15px;
	padding-bottom: 6px;
	text-align: left;
	font-size: 13px;
}

/* For further extension */
.em {}
.strong {}
.img {}
.li {}
.tr {}
.tbody {}
