.base {
  font-family:
    -apple-system,
    BlinkMacSystemFont,
    "Segoe UI",
    "Roboto",
    "Oxygen",
    "Ubuntu",
    "Cantarell",
    "Fira Sans",
    "Droid Sans",
    "Helvetica Neue",
    sans-serif;
}

.a {
  color: #1978c8;
  text-decoration: none;

  &:hover {
    color: #f28a25;
  }
}

.reset {
  border-collapse: separate;
  border-spacing: 0;
  caption-side: top;
  cursor: auto;
  direction: ltr;
  empty-cells: show;
  font-family: inherit;
  font-size: medium;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  font-stretch: normal;
  line-height: normal;
  hyphens: none;
  letter-spacing: normal;
  list-style: disc outside none;
  tab-size: 8;
  text-align: inherit;
  text-align-last: auto;
  text-indent: 0;
  text-shadow: none;
  text-transform: none;
  visibility: visible;
  white-space: normal;
  widows: 2;
  word-spacing: normal;
  all: initial;
  display: block;
  box-sizing: border-box;
}

.p,
.ul,
.ol,
.blockquote,
.table,
.hr,
.h3,
.h4,
.h5,
.h6 {
  font-family:
    -apple-system,
    BlinkMacSystemFont,
    "Segoe UI",
    "Roboto",
    "Oxygen",
    "Ubuntu",
    "Cantarell",
    "Fira Sans",
    "Droid Sans",
    "Helvetica Neue",
    sans-serif;
  margin-top: 0;
  margin-bottom: 15px;
}

.h3 {
  font-size: 26px;
  font-weight: normal;
}

.h4 {
  font-size: 23px;
  font-weight: normal;
}

.h5 {
  font-size: 16px;
  font-weight: bold;
}

.h6 {
  font-size: 12px;
  font-weight: normal;
  font-style: italic;
}

.code {
  composes: reset;
  font-family: Consolas, "Liberation Mono", Menlo, monospace;
  display: inline;
  font-size: inherit;
  color: inherit;
}

.plain {
  font-family: Consolas, "Liberation Mono", Menlo, monospace;
  display: inline;
  font-size: inherit;
  color: inherit;
  padding: 0;
  margin: 0;
}

.pre {
  background-color: #f5f5f5;
  border: 1px solid rgba(254, 254, 254);
  padding: 12px 15px;
  font-size: 12px;
  border-radius: 3px;
}

.blockquote {
  font-size: 13px;
  margin-top: 0;
  margin-left: 50px;
  margin-right: 50px;
  padding: 0;
}

.hr {
  border: 1px solid rgba(254, 254, 254);
  border-bottom-width: 1px;
}

.table {
  border-collapse: collapse;
}

.thead {
  border: 1px solid rgba(254, 254, 254);
  border-bottom-width: 1px;
}

.td {
  padding-right: 15px;
  padding-top: 6px;
  font-size: 13px;
}

.th {
  padding-right: 15px;
  padding-bottom: 6px;
  text-align: left;
  font-size: 13px;
}
