.root {
  background-color: #fff;
  color: rgba(210, 210, 210);
  border-radius: 0;

  &_isBig {
    font-size: 1.2rem;
  }

  &_isMedium {
    font-size: 1rem;
  }

  &_isSmall {
    font-size: 0.5rem;
  }
}
