.random-button {
	padding: .5em 1.5em;
	color: #666;
	background-color: #fff;
	border: 1px solid currentColor;
	border-radius: .3em;
	font-size: 16px;
	font-weight: bold;
	text-align: center;
	vertical-align: middle;
	cursor: pointer;
}
